@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root{
  font-family: 'Poppins', sans-serif;
}

@layer utilities{
  .grid-cols-70-30{
    grid-template-columns: 70% 28%;
  }
}

@theme{
  --color-primary: #C7B9FF ;
  --color-secondary: #BFE8FF ;
  --color-accent:  #FFD6C9 ;
  --color-highlight: #FFF1A8 ;
  --color-text: #2E2A3B;
  --color-background: #FAFAFF ;
}